<form class="form-inline my-2 my-lg-0 justify-content-center">
      <input class="form-control mr-sm-2 mt-5 mb-5" type="search" placeholder="Search" aria-label="Search">
      <button class="btn seven-button my-2 my-sm-0 ml-2 mr-2" type="submit">Essayer un autre tag</button>
      <button class="btn seven-button  my-2 my-sm-0" type="submit">Shuffle !</button>
    </form>

<div class="chatroom d-flex flex-column align-items-center mt-3  ">
  <% @chat_rooms.each do |chat_room| %>
    <div class="card-chatroom d-flex flex-column flex-lg-row mb-3 mt-3" >
      <img src="<%= chat_room.photo %>" alt="chat_room photo"> />
      <div class="card-chatroom-infos ">
        <h2 class='margin-remove-bottom'><%= chat_room.title %></h2>
         <p class='text-meta margin-remove-top'> <%= chat_room.description %> </p>
        <ul class='room-tags card-body' >
          <li class="room-tag "> front-end developpement</li>
          <li class="room-tag "> front-end developpement</li>
          <li class="room-tag "> front-end developpement</li>
          <li class="room-tag "> front-end developpement</li>
          <li class="room-tag "> front-end developpement</li>
          <li class="room-tag "> front-end developpement</li>
          <li class="room-tag "> front-end developpement</li>
        </ul>
        <div class="card-footer align-items-center bg-transparent">
         <!--  <div class="links-seven">
                <%#= link_to "Rejoindre le salon", new_chat_room_my_subscription_path(chat_room), class: "fas fa-sign-in-alt link-seven float-left mt-2 mr-3"  %>
                <%#= link_to "Editer le salon" , edit_my_chat_room_path(chat_room), class: "fas fa-edit link-seven float-right mt-2 mr-3" %>
                <%#= link_to " Supprimer", my_chat_room_path(chat_room), method: :delete, class: "fa fa-trash link-seven float-right mt-2 mr-3"  %>
                <%#= link_to " Demandes", chat_room_subscriptions_path(chat_room), class: "far fa-envelope link-seven float-left mt-2 mr-3"  %>
              </div> -->
          <%= link_to "Rejoindre ce salon", new_chat_room_my_subscription_path(chat_room), class: "button seven-button float-right mt-2 mr-3" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
