<div class="nested-fields">
  <%= f.input :tag_id %>
  <%= link_to_remove_association "remove tag", f %>
</div>

<!-- Comment faire pour faire autant de check boxes que de tags ?
Comment lier aux tags ?
Problème de création de chat_room_tags à la création d'une chat_room (formulaire new de my chat_room à adapter selon cocoon) -->
