<div class="card-my-chat-rooms">
  <div class="image-slot">
    <%= cl_image_tag chat_room.photo, class: "card-my-chat-rooms-image" %>
  </div>
  <div class="card-my-chat-rooms-infos">
    <h5><%= chat_room.title %></h5>
    <p><%= chat_room.description.first(20) %></p>
  </div>
  <%= link_to "", my_chat_room_path(chat_room), class: "fas fa-door-open link-card active"  %>
</div>

