// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$pale-green: #99F7AB;
$amazon: #3E885B;
$midnight-green: #124559;
$dark-sky-blue: #99BDC8;
$illuminating-emerald: #1A936F;
