.subscription-container {
  padding: 40px;
}

.message-area {
  width: 80%;
  padding: 50px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.chat_room_description {

}


.subscription-button {
  text-position: center;
}
