.show-chat-room {
  display: flex;
  justify-content: space-between;
}

.links-seven {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 0px;
  width: 200px;
}

.link-seven {
  font-weight: bold;
  color: $dark-sky-blue;
  &:hover {
    text-decoration: none;
    color: $pale-green
  }
}

.left-column {
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.right-column {
  border-right: 2px solid black;
}
