.show-chat-room {
  display: flex;
  justify-content: space-between;
}

.links-seven {
  grid-column: 4/5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  font-size: 14px;
}

.link-seven {
  color: black;
  &:hover {
    text-decoration: none;
    color: grey
  }
}

.link-card {
  font-weight: bold;
  font-size: 40px;
  margin-top: 18px;
  color: $midnight-green;
  &:hover {
    text-decoration: none;
    color: $dark-sky-blue;
  }
}

.active-chat-room-star {
  font-weight: bold;
  font-size: 40px;
  color: $midnight-green;
  margin-top: 18px;
  // margin-left: 30px;
}

.links-seven-show {
  grid-column: 4/5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px 0px;
  font-size: 14px;
}

.left-column {
  text-align: center;
  .links-seven {
    text-align: left;
  }
}

.right-column {
  text-align: center;
  .links-seven {
    text-align: left;
  }
}
