.informations {
  display: flex;
}

.informations-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;
}

#messages {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  height: 600px;
  border: 2px solid $midnight-green;
  overflow: auto;
  border-radius: 8px;

}

#new_message {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .send-button {
    display: flex;
    text-align: center;
  }
}

#message-area {
  width: 100%;
  margin-top: 15px;
}

#message_content {
  width: 100%;
}

.chat-room {
  display: flex;
  flex-direction: column;
}

.card-chat-room-users {
  margin-top: 15px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 8px;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  overflow: auto;
}

.my-chat-rooms {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.active-chat-room {
  box-shadow: 0 0 15px $pale-green;
}

.username-chat {
  color: $midnight-green;
  font-weight: bolder;
}

.my-chat-rooms-index {
  margin-top: 50px;
  text-align: center;
  h3 {
    margin-top: 20px;
    color: $midnight-green;
  }
}

.image-slot {
  grid-column: 1fr;
  overflow: hidden;
  background-position: center;
}

.chat-room-tags {
  display: flex;
  flex-direction: column;
}

#cards-list-chat-rooms {
  max-height: 550px;
  overflow: auto;
}

.chat-rooms{
 background: rgba(255, 255, 255, 0.9);
 border-radius: 8px;
 margin: 15px;
 box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}
