<div class="wraphome">
  <div class="container">

    <h1>Bienvenue sur Seven Spaces</h1>
    <h4>Venez rejoindre votre communauté</h4>

    <%= link_to search_path do  %>
      <h4>Chercher une chat room </h4>
    <% end %>

    <%= link_to my_chat_rooms_path do  %>
      <h4 >Mes chat rooms</h4>
    <% end %>

    <%= link_to chat_rooms_path do  %>
      <h4>Liste des chat rooms</h4>
    <% end %>
  </div>
</div>

 <div class="descriptions">
    <h2 class="titre">
      Seven Spaces</h2>
    <p>Contrairement à d'autres lieux de discussion en ligne, Seven Spaces permet d'offrir des espaces encadrés autour de thématiques spécifiques</p>

    <h4><strong>7</strong> personnes par espace de discussion</h4>
    <p>Discuttez en petit comité, dans la bienveillance</p>

    <h4><strong>7</strong> salons de discussion par utilisateur.ice</h4>
    <p>Afin de garantir la participation de tous.tes, vous pourrez rejoindre ou créer jusqu'à 7 espaces de discussion</p>

    <h4><strong>7</strong> jours d'historique pour vos messages</h4>
    <p>L'idée est de vous offrir des espaces de discussions proches de l'instantanné, de respecter au mieux votre vie privée, et de réduire notre impact écologique</p>

    <h4>Pourquoi 7 ?</h4>
    <p>Le chiffre 7 correspond au nombre d'unités d'informations que la mémoire est capable de retenir à court terme. Nous avons choisi d'en faire l'élément central de cette application, pour qu'elle se rapproche autant que possible de la vrai vie. Sur Seven Spaces vous disposez d'espaces de proximité et une confiance entre les utilisateur.ices</p>
  </div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
