<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%# @chat_rooms.each do |chat_room| %>
  <%#= link_to "#{chat_room.title }", my_chat_room_path(chat_room) %>
<%# end %>


<%#= link_to "chat room index", chat_rooms_path %>
