<div class="container mt-5">
  <%= form_tag search_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Recherchez des tags"
    %>
    <button>Trouvez un salon de discussion</button>
  <% end %>
</div>
