

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <%= simple_form_for :search, url: search_path, method: :get do |f| %>
        <%= f.input :tag_ids, collection: Tag.all, input_html: { multiple: true, class: "select2" }, include_hidden: false %>
        <%= f.button :submit, "Chercher un salon", class: 'seven-button' %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row ">
    <% @chat_rooms.each do |chat_room| %>
      <div class="col-md-3">
        <%= chat_room.title %>
      </div>
    <% end %>
  </div>
</div>


