<%= simple_form_for [:my, chat_room, message ], remote: true do |f| %>
  <%= f.error_notification %>
  <div id="message-area">
    <div class="send-button container">
    <%= f.input :content, label: false %>
    <%= f.button :submit, "Envoyer", class: "seven-button" %>
  <% end %>
    </div>
  </div>
