<%= simple_form_for [:my, chat_room, message ], remote: true do |f| %>
  <%= f.error_notification %>
  <div id="message-area">
    <%= f.input :content, label: false %>
  </div>
  <div class="">
    <%= f.button :submit, "Envoyer", class: "seven-button" %>
  </div>
<% end %>


