.tags-button {
  position: absolute;
  bottom: 150px;
}

.seven-button {
  color: $midnight-green;
  background-color: $pale-green;
  border-radius: 4px;
  padding: 10px 25px;
  font-weight: bold;
  margin: 10px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);

  &:hover {
    text-decoration: none;
    color: black;
    background-color: $dark-sky-blue;
  }

}

