.card {
  border-radius:16px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 25px;
}

.cstm-height-card .card-img-top {
  height: 100px;
  object-fit: cover;



@media(min-width:979px) {
  .chatroom {
    .card-chatroom {
      height:300px;
      img {
        height: 100%;
      }
    }
  }
}


}

.card-chatroom {
  overflow: hidden;
  height: auto;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 32px;
  width: 80%;
  img {
    height: 32vh;
    width: auto;
    object-fit: cover;
    position: relative;
  }

  img:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 10px;
  height: 41px;
  width: 95px;
  background-color: white;
  background-image:url('logo_seven2.png');
  }



  h2 {
    margin-left: 8px;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    width: auto;
  }
  .card-chatroom-infos {
    padding: 32px;
  }
  p {
    font-style: italic;
    font-size: 14px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 16px;
  }
  ul {
    padding-top: 16px;
  }
}

.card-my-chat-rooms {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  overflow: hidden;
  height: 100px;
  background: rgba(255, 255, 255,0.9);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  justify-content: space-between;
  text-align: center;
  border-radius: 8px;
  width: 95%;
  margin: 15px;
  padding: 10px;
  background-opacity: .9;
  .links-seven-show {
    text-align: left;
  }
}

.card-my-chat-rooms.activated {
  box-shadow: 0 0 15px rgba(0, 0, 240, 0.8);
}

.card-my-chat-rooms-infos {
  // width: 300px;
  grid-column: 2/4;
  padding: 5px;
}

.card-title-chat-room{
  margin-top: 15px;
  height: 75px;
  border-radius: 8px;
  display: flex;
  border-top: 2px solid $midnight-green;
  border-left: 2px solid $midnight-green;
  border-right: 2px solid $midnight-green;
  background: white;
  h3 {
    color: $midnight-green;
  }
}

.card-my-chat-rooms-image {
  height: calc(100% - 8px);
  width: 100px;
  object-fit: cover;
}

// list-inline justify-content-center'
// . {
//   width: 700px;
//   margin: 40px auto;
// }

// @media (max-width: 960px) {
//   /* For a screen < 960px, this CSS will be read */
//   . {
//     width: 700px;
//   }
// }
// @media (max-width: 720px) {
//   /* For a screen < 720px, this CSS will be read */
//   . {
//     width: 500px;
//   }
// }
// @media (max-width: 540px) {
//   /* For a screen < 540px, this CSS will be read */
//   . {
//     width: 300px;
//   }
// }
