.header-edit {
  font-size: 30px;
  color: $dark-sky-blue;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

 // <%#= f.association :tags, as: :check_boxes %>
 //    <!-- <div class="">
 //      <div class="">
 //        <% @chat_room.chat_room_tags.each #do |chat_room_tag| %>
 //          <%= f.fields_for #:chat_room_tags, chat_room_tag do |chat_room_tag| %>
 //              <%= chat_room_tag.text_field #:tag_id %>
 //              <%= chat_room_tag.check_box #:_destroy %>
 //            <%= chat_room_tag.label #:_destroy, "Supprimer un tag", class: "seven-button" %>
 //          <% #end %>
 //        <% #end %>
 //      </div class="tags-button">
 //      <div id="chat_room_tags">
 //        <%= f.simple_fields_for #:chat_room_tags, ChatRoomTag.new do |chat_room_tag| %>
 //        <%= #render 'chat_room_tag_fields', f: chat_room_tag %>
 //        <%= link_to_add_association #'Ajouter un tag', f, :chat_room_tags, class: "seven-button" %>
 //        <% #end %>
 //      </div>
 //    </div> -->
