.navbar-lewagon {
  justify-content: space-between;
  background: $pale-green;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo-seven {
  color: black;
  font-size: 35px;
  font-weight: bold;
}

.logo-seven-chatroom {
  color: $midnight-green;
  font-size: 70px;
}
